@import "../../_variables.scss";

$themeColor:$primary;

.header-container {
	height: 58px;
	width: 100%;
	padding: 0px 100px;
	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

	.banner{
		margin-top: 10px;
		height: 50px;
		width: 150px;
		object-fit: cover;
	}


	.profile {
		--s: 200px;
		--b: 6px;
		--c: dodgerBlue;
		--cb: #e9ecef;
		--f: 0.25;
		width: var(--s);
		aspect-ratio: 1;
		padding-top: calc(var(--s)/5);
		cursor: pointer;
		border-radius: 0 0 999px 999px;
		--_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
		--_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));
		outline: var(--b) solid var(--c);
		outline-offset: var(--_o);
		background: radial-gradient(circle closest-side, var(--cb) calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000) var(--_g);
		mask: linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%, radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
		transform: scale(var(--f));
		transition: .5s;

		&:hover {
			--f: 0.4;
		}
	}
	.link-text{
		text-decoration: none;
		border: $primary 1px solid;
		padding: 5px 15px;
		
		transition: all 0.3s ease-in-out;
		&:hover{
			background-color: $primary;
			color: $white;
			box-shadow: rgba(0, 0, 0,0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.2) 0px 10px 10px -5px;
		}
	}


}