@import "./../../../variables";

.banner-container {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .left-banner {
        flex: 1;

        .banner-heading {
            margin: 0px 100px;
            display: flex;
            align-items: center;
            justify-content: center;

            .banner-title {
                color: $primary;
                font-size: 45px;
                font-family: "Avenir Next LT W01 Bold", sans-serif;
            }
        }

        .banner-desc {
            margin: 10px 0px;
            background-color: $primary;

            p {
                margin: 0px 100px;
                padding: 10px 0px;
                font-size: large;
                color: $white;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-stretch: expanded;
            }
        }

        .banner-redir-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;

            .button {
                background-color: $transparent;
                border: 1px solid #266DB6;
                box-sizing: border-box;
                color: $gray-900;
                font-family: "Avenir Next LT W01 Bold", sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                padding: 8px 20px;
                position: relative;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;

                &:hover {
                    outline: 0;
                    background-color: $transparent;
                    color: $white;
                    cursor: pointer;

                    &:before {
                        background-color: $primary;
                    }
                }

                &:active {
                    outline: 0;
                }

                &:before {
                    background-color: $white;
                    content: "";
                    height: calc(100% + 3px);
                    position: absolute;
                    right: -5px;
                    top: -7px;
                    transition: background-color 300ms ease-in;
                    width: 100%;
                    z-index: -1;
                }
            }

        }
    }

    .right-banner {
        flex: 1;
      
        .banner-center {    
            display: flex;
            justify-content: center;
            align-items: center;
            .banner-top-circle {
                background: $gray-500;
                border-radius: 50%;
                width: 250px;
                height: 250px;
                position: absolute;
                left: 80%;
                bottom: 50%;
                transition: all 0.3s ease-out;
                &:hover{
                    width: 255px;
                    height: 255px;
                }
            }
            .banner-img {
                position: relative;
                height: 70%;
                width: 50%;
                transition: all 0.3s ease-out;
                &:hover{
                    height: 71%;
                    width: 51%;
                    border-radius: 10px;
                }
            }
        }
    }
}